---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>

    <body class="bg-zinc-100 p-4 max-w-7xl mx-auto">
        <header class="max-w-2xl bg-white border rounded-full mx-auto p-3 mb-8 sticky top-4 border-zinc-200">
            <nav class="mx-auto">
                <ul class="flex justify-center space-x-4 text-zinc-600 text-sm font-semibold">
                    <!-- <li>
                        <a href="/portfolio/#cv">Mon CV</a>
                    </li> -->
                    <li>
                        <a href="/portfolio/#projects">Mes projets</a>
                    </li>
                    <li>
                        <a href="/portfolio/#annex">Autres projets</a>
                    </li>
                </ul>
            </nav>
        </header>
        <slot />
    </body>
</html>
